@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

body {
  background-image: url("./images/tamagotchi.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Squada One', cursive;
  font-size: 30px;
}
